* {
    margin :0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.bar {
    width: 100%;
    height: 130px;
    top: 0;
    bottom: 0;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-color:#ffff;
}

.logo {
    height: 45.66px;
    width: 166px;
}

.input--search {
    width: 427.61px;
    height: 33.07px;
}

.btn--search {
    background-color: red;
    width: 34.05px;
    height: 33.06px;
    color: #ffff;
}

.search.autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  
  .search.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  
  .search.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }

.login {
    display:flex;
    justify-content: space-between;
    width: 25%;
}

.menu-bar {
    display: flex;
    justify-content:space-around ;
    background-color: black;
    color:#ffff;
    padding: 10px 400px;
}

.menu-items {
    text-decoration: none;
}

.menu-items:hover {
    background-color: red;
}
.khoi-slide{
    width:100%;
    height: 700px;
    position: relative;
}
.hinh-slide{
    width: 100%;
    height: 100%;
}
.cac-slide{
    width: 100%;
    height: 700px;
    overflow: hidden;
    transition: all 0.5s;
}
.nut-slide>span{
    color: white;
    font-size: 60px;
    opacity: 0.4;
}
.btn-right{
    position: absolute;
    top: 40%;
    right: 0%;
    z-index:10;
    cursor: pointer;
}
.btn-left{
    position: absolute;
    top: 40%;
    left: 0%;
    z-index:10;
    cursor: pointer;
}
.nut-slide>ul {
    position: absolute;
    z-index: 10;
    width: 100px;
    bottom: 5%;
    left: 50%;
    margin-left: -50px;
    display: flex;
    justify-content: space-between;
 }
 .nut-slide>ul>li {
    width: 20px;
    height: 20px;
    background: white;
    opacity: 0.6;
    list-style: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s;
 }
.content {
    margin: 150px 200px;
}
.sub-menu{
    width: 100%;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-3{
    width: 31.3%;
    height: 100%;
    display: inline-block;
    margin: 8px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.col-3>h2{
    text-align: center;
    text-decoration: none;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
}
.mid-title{
    color: red;
    text-align: center;
}
.title-box{
    border: 1px solid lightgray;
    font-size: x-large;
    font-weight: bold;
    padding: 3px 20px;
}
.line{
    height: 2px;
    color: lightgray;
    margin-top: 5px;
}
.list--items {
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
}

.content--items {
    text-align:center;
    width: 20%;
}

.info--items {
    margin-left: 20px;
}

.btn--addCart {
    border: 1px solid red;
    color: red;
    padding: 10px 16px;
    text-decoration: none;
}

.btn--addCart:hover {
    background-color:red;
    color:#ffff;
}
.btn--addCart-box{
    text-decoration: none;
    color: red;
}
.btn--addCart-box:hover{
     background-color:red;
    color:#ffff;
}
.SNS{
    width: 100%;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SNS-items{
    width: 31.3%;
    height: 100%;
    display: inline-block;
    margin: 8px;   
    padding-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(35,35,35);
    color: #F1F1F1;
    padding: 50px 200px;
}

.content--footer {
    width: 30%;
    float: left;
}
.video{
    width: 100%;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-3-video{
    width: 31.3%;
    height: 100%;
    display: inline-block;
    margin: 8px;   
    padding-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.see-more{
    padding: 25px;
}
.xem-them{
    border: 1px solid red;
    color:white;
    background-color: #ff5252;
    padding: 15px;
    text-decoration: none;
    border-radius: 6px;
}